@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Varela+Round&display=swap');

:root{
    --font1 : 'Nova Round', cursive;
    --font2 : 'Varela Round', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}