.section{
    min-height: 100vh;
    padding: 4rem 3rem;
    overflow: auto;
}

.welcomeSection{
    background-color: var(--cl3);
    min-height: 100vh;
    padding: 4rem 3rem;
    color: var(--cl5);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'img text';
        justify-items: start;
    align-items: end;
}

.welcomeImage{
    width: 25vw;
    border-radius: 3rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: aliceblue;
    transition: all 0.3s ease-in-out;
    align-self: center;
    justify-self: center;
}

.welcomeImage > div{
    filter: drop-shadow(2rem -0.8rem var(--cl1));
    transition: all 0.3s ease-in-out;
}

.welcomeImage:hover > div{
    filter: drop-shadow(2rem -0.8rem var(--cl2));
}

.welcomeImageClass{
    border-radius: 3rem;
    filter:hue-rotate(190deg) grayscale(0.8);
    transition: all 0.3s ease-in-out;    
}

.welcomeImageClass:hover{
    filter:hue-rotate(0deg) grayscale(0.5);
}

.welcomeImage:hover{
    transform: translateY(-1rem) translateX(1rem) rotate(5deg);
}

.welcomeImage:hover>div>img{
    filter: hue-rotate(0deg) grayscale(0.5);
}

.welcomeText{
    grid-area: text;
    align-self: center;
    font-family: var(--font2);
    font-size: 1.8rem;
}

.welcomeTextW{
    display: block;
    font-size: 3rem;
    width: fit-content;
    font-family: var(--font1);
    transform: translateX(-1rem);
    transition: all 0.3s ease-in-out;
}

.welcomeTextW::after{
    position: absolute;
    display: inline-block;
    left: -1px;
    top: 0;
    content: "";
    width: 3px;
    height: 3rem;
    background-color: var(--cl2);
    transition: all 0.3s ease-in-out;
}

.welcomeText:hover .welcomeTextW::after{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 3px;
    transform: translateY(3.4rem);
    background-color: var(--cl2);
}

.welcomeText:hover .welcomeTextW{
    transform:translateX(-1rem) translateY(-0.5rem);
}

.skillSection{
    background-color: var(--cl1);
}

.sectHead{
    color: var(--cl5);
    font-family: var(--font1);
    font-size: 2.5rem;
    text-decoration: underline;
}

.sectHead2{
    color: var(--cl5);
    font-family: var(--font1);
    text-decoration: underline;
    font-size: 1.9rem;
}

.tables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
    /* height: 80%; */
}

.sectTable{
    padding: 5mm;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    table-layout: fixed;
}

.sectTable tr{
    transition: all 0.2s ease-in-out;
}

.sectTable tr:hover{
    transform: scale(1.1);
}

.tableGreenCell{
    transition: all 0.2s ease-in-out;
}

.tableRedCell{
    transition: all 0.2s ease-in-out;
}

.sectTable tr:hover .tableGreenCell{
    color: rgb(0, 255, 0);
}

.sectTable tr:hover .tableRedCell{
    color: red;
}

.sectTable *{
    color: var(--cl5);
    text-align: center;
    word-wrap: break-word;
}

.sectTable:hover{
    text-shadow: 1mm 1mm 1mm var(--cl3);
}

.tableSect{
    transition: all 0.2s ease-in-out;
    border-radius: 2rem;
    margin-top: 2rem;
}

.tableSect:hover{
    background-color: var(--cl3);
    transform: translateY(-1rem);
}

.sectTable th{
    font-size: 1.5rem;
    font-family: var(--font2);
    padding: 0.5rem;
}

.prevoiusProjectsSection{
    background-color: var(--cl3);
}

@media only screen and (max-width : 912px){
    .welcomeSection{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        'img'
        'text';
        width: 100vw;
        justify-items: center;
        align-items: start;
        align-content: center;
    }
    
    .welcomeImage{
        width: 80vw;
    }
    
    .section{
        padding:4rem 1.2rem 0rem 1rem;
        height: fit-content;
        min-height: 100vh;
    }
    
    .tables{
        flex-direction: column;
        margin-left: 100%;
    }
}